{
    "extends": ["./eslintrc.js"],
    "root": true,
    "overrides": [
        {
            "extends": ["./node.js"],
            "files": "*.js"
        },
        {
            "extends": ["./json.js"],
            "files": "*.json"
        }
    ]
}
