// ESlint configuration for this package. Not to be used for other packs
{
    "extends": ["canonical"],
    "root": true,
    "overrides": [
        {
            "extends": ["canonical/node"],
            "files": "*.js"
        },
        {
            "extends": ["canonical/json", "plugin:jsonc/prettier"],
            "files": "*.json",
            "rules": {
                "jsonc/sort-keys": "off"
            }
        }
    ]
}
